/* Thank you CSS3 */
/* http://csslint.net/ - good tool */
/*
    margin: top right bottom left;
    margin: top right-left bottom;
    margin: top-bottom right-left;
    margin: all;
*/
@font-face {
    font-family: 'hallo_sanslight';
    src: url('fonts/hallo-sans-light-webfont.eot');
    src: url('fonts/hallo-sans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hallo-sans-light-webfont.woff2') format('woff2'),
         url('fonts/hallo-sans-light-webfont.woff') format('woff'),
         url('fonts/hallo-sans-light-webfont.ttf') format('truetype'),
         url('fonts/hallo-sans-light-webfont.svg#hallo_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*:hover{
    -webkit-transition: 0.5s;
}*/

.colorGreen {
    background-color: #33AA33;
}

div.circle:hover a{
    display: none;
}

div.circle a{
    -webkit-transition: 0.5s 0.5s;
    display: inline;
}

div.circle:hover div.altText {
    /*-webkit-transition: 0.5s 0.5s;*/
    display: inline;
}

div.circle .altText{
    display: none;
}

#resume{
    padding-top: 9px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 3px;
}

#resume:hover{
    border-radius: 10px;
    padding: 5px;
    content: "Resume";
    width: 120px;
    margin-left: 0;
}

.circle {
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-left: 50%;
    -webkit-transition: 0.5s;
    /* width and height can be anything, as long as they're equal */
}

.sidebar {
    text-align: center;
    position: fixed;
    float: right;
    margin-top: 5%;
    margin-left: 80%;
    width: 10%;
    height: 100%;
}

.boundedBox{
    width: 90%;
    float: left;
    right: 0;
    display: table;
}

.centerElement{
    /* use this when you have a background image to center*/
    margin-left: auto;
    margin-right: auto;
}

.centerText{
    text-align: center;
}

.leftFloat{
    margin-left: 5%;
    margin-right: 0;
}

.wrapword{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;

}



.tab{
    text-indent: 10px;
}

body{
    font-family: 'Open Sans'; /* verdana, helvetica, sans-serif; */
    background-color: #EFEFEF;
    font-weight: 100;
    position: relative;
}

h1{
    font-family: 'hallo_sanslight';
    background-color: #000000; /* this is black, duh */
    /*background-image: url(images/Green.png);*/
    background-repeat: no-repeat;
    background-position: center;
    color: #008052;
    width: 25%;
    min-width: 150px;
    padding: 2% 3%;
    min-height: 20px;
    border-radius: 20px;
}

p{
    font-size: 20px;
}

ul{
    list-style-position: inside;
}
li{
    text-align: left;
}

#footer {
    clear: both;
}