/* Thank you CSS3 */

body{
    font-family: Open+Sans, verdana, helvetica, sans-serif;
    background-color: #9DCEFF;
    text-align: center;
}

h1{
    background-color: #000000; /* this is black, duh */
    background-image: url(Rainbow.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #AAAAAA; /* a soft grey */
}