---
layout: default
---

<div class="talks">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>

    <div class="news">
      {% if site.news  %}
        <!-- {#
          Documentation: https://getbootstrap.com/docs/4.1/content/tables/
        #} -->
        <div class="table-responsive">
          

          {% assign news = site.news | reverse %}
          {% assign last_year = "0" %}
          {% for item in news %}
            {% assign curr_year = item.date | date: "%Y" %}
            {% if last_year != curr_year %}
              {% if last_year != "0" %} </table> {% endif %}
              {% assign last_year = curr_year %}
              <h2 class="year">{{ last_year }}</h2>
              <table class="table table-sm table-borderless table-striped">
            {% endif %}
            <tr>
              <!-- <th scope="row">{{ item.date | date: "%b %-d" }}</th> -->
              <th scope="row">{{ item.date | date: "%b %-d" }}</th>
              <td>
                {% if item.inline %}
                  {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                {% else %}
                  <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}

        </div>
      {% else %}
        <p>No news so far...</p>
      {% endif %}
    </div>
      
  </article>

</div>
